<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script src="../lib/jquery.js"></script>
        <script src="../lib/json2.js"></script>
        <script src="../lib/underscore.js"></script>
        <script src="../lib/backbone.js"></script>

        <script>
            $(function() {
                var list = "<% _.each(people, function(name) { %> <li><%= name %></li> <% }); %>";

                $('ul').append($(_.template(list, {people: ['moe', 'curly', 'larry']})));

                //= > "<li>moe</li><li>curly</li><li>larry</li>"

                var template = _.template("<b><%- value %></b>");
                console.log(template({value: '<script>'}));
                $('#log').append(template({value: '<script>'}));
                // = > "<b>&lt;script&gt;</b>"

            });
        </script>

    </head>
    <body>
        <ul></ul>
        <div id="log"></div>
    </body>
</html>
