body {
    margin: 0;
    overflow: hidden;
    font-family: Monospace;
    background-color: #000;
    color: #fff;
}
.hidden {
    display: none;
}

#info {
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}