/* 
    Document   : engine2d
    Created on : 2012. 12. 4, 오후 4:44:06
    Author     : gbox3d
    Description:
        Purpose of the stylesheet follows.
*/

.gbox3d-2dgv-fullscreen {
    margin: 0px;
    padding: 0px;
    border: 0px;
    position: absolute;
    width: 100%;
    left: 0px;
    top : 0px;
    bottom: 0px;
    background-color : #9966FF;

}

