/* 
    Document   : forest_tile
    Created on : 2012. 12. 3, 오후 11:13:45
    Author     : gbox3d
    Description:
        Purpose of the stylesheet follows.
*/

.map-forest-base {
    position: absolute;
    width : 32px;
    height: 32px;
    /*background-color: red;*/
    background-image: url(http://ukga.web-bi.net/files/rpg_pack/Graphics/Tilesets/Forest.png);
}

.forest-tile-ground-0 {
    background-position:  0px -256px;
}
.forest-tile-ground-1 {
    background-position:  -32px -256px;
}
.forest-tile-ground-2 {
    background-position:  -64px -256px;
}
.forest-tile-ground-3 {
    background-position:  -96px -256px;
}

.forest-tile-ground-4 {
    background-position:  0px -288px;
}
.forest-tile-ground-5 {
    background-position:  -32px -288px;
}
.forest-tile-ground-6 {
    background-position:  -64px -288px;
}
.forest-tile-ground-7 {
    background-position:  -96px -288px;
}




.forest-tile-hiil-0 {
    background-position: 0px 0px;

}
.forest-tile-hiil-1 {
    background-position: -32px 0px;

}
.forest-tile-hiil-2 {
    background-position: -64px 0px;
}

.forest-tile-hiil-3 {
    background-position: -0px -32px;
}
.forest-tile-hiil-4 {
    background-position: -32px -32px;
}
.forest-tile-hiil-5 {
    background-position: -64px -32px;
}

.forest-tile-hiil-6 {
    background-position: -0px -64px;
}
.forest-tile-hiil-7 {
    background-position: -32px -64px;
}
.forest-tile-hiil-8 {
    background-position: -64px -64px;
}

