<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script src="../lib/jquery.js"></script>
        <script src="../lib/json2.js"></script>
        <script src="../lib/underscore.js"></script>
        <script src="../lib/backbone.js"></script>

        <script>


            $(function() {
                var ListView = Backbone.View.extend({
                    el: $('body'),
                    initialize: function() {
                        _.bindAll(this, 'render');
                        this.render();
                    },
                    render: function() {
                        //console.log($(this.el));
                        $(this.el).append("<ul> <li>hello world</li> </ul>");

                    }
                });
                var listView = new ListView();
            })
        </script>


    </head>
    <body>

    </body>
</html>
