.hidden {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    
}


.webcam-style {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    z-index: 1;
    width: 25%;
    height: 25%;
}