<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />

		<title>phonegap jqm basic sample</title>
		
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
		
		<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
		
		<script>
		
			$(document).bind('mobileinit', function(evt) {

				//리프레쉬버튼을 눌렀을때 시작 페이지로 페이지 초기화를 한다.
				var strTokens = location.href.split('#');
				console.log('size : ' + strTokens.length);
				if(strTokens.length >= 2) {
					location.href = strTokens[0];
					console.log('current page : #' + strTokens[1]);
					console.log('reset startup page');
					return false;
				}

				//$.mobile 관련 전역변수 초기화는 여기서한다.
				$.mobile.autoInitializePage = false;
				console.log('mobile init');

			});

		</script>
		
		<script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
		
		<script>
			$(document).ready(function() {
				console.log('document ready..');
				console.log('before jqm pageinit');
				
				//페이지 관련 이밴트들은 여기서 바인딩시켜줘야한다.
				//$(':jqmData(role="content")').text('hello jqm!');
				
				$.mobile.initializePage();
				// 페이지 초기화 관련 pageinit 메쎄지가 처리된다.

				// 이 시점부터 첫 페이지가 보이기 시작.....
				console.log('after jqm pageinit');
				//document 이벤트관련 초기화는 여기서 한다.
			});
		</script>
		
	</head>

	<body>
		<div data-role="page">
			<div data-role="header">
				<h1> grid-a </h1>
			</div><!-- /header -->
			<!--
				수평으로 2줄을 만드는 레이아웃이다.
				줄이 a 로시작해서 b로 끝난다.
				그래서 b 가 먼저올경우는 좌측에 배치 되지만 줄이 끝나버리므로 그다음 a가오더라도 그다음줄에 배치가 된다.
				b좌측을 비워둔체 우측을 먼저 체우는 경우는 없다.
				-->
			<div data-role='content' >
				
				<div class='ui-grid-solo'>
					<div class="ui-block-a ui-bar-e" style="text-align: center">solo</div>
				</div>
				<div class='ui-grid-a'>
					<div class="ui-block-a ui-bar-a" style="width:20%;text-align: center">1</div>
					<div class="ui-block-b ui-bar-b" style="width:50%;margin-left:30%" >2</div>
				</div>
				<div class='ui-grid-b'>
					<div class="ui-block-a ui-bar-a" style="width:20%;text-align: center">1</div>
					<div class="ui-block-b ui-bar-b" style="width:30%;" ><button >a</button></div>
					<div class="ui-block-b ui-bar-c" style="width:50%;" >3</div>
				</div>
				
				<div class='ui-grid-c'>
					<div class="ui-block-a ui-bar-a" style="width:20%;text-align: center">1</div>
					<div class="ui-block-b ui-bar-b" style="width:30%;" ><button data-mini='true'>a</button></div>
					<div class="ui-block-b ui-bar-c" style="width:20%;" >3</div>
					<div class="ui-block-b ui-bar-d" style="width:30%;" >4</div>
				</div>
				<div class='ui-grid-d'>
					<div class="ui-block-a ui-bar-a" style="width:20%;text-align: center">1</div>
					<div class="ui-block-b ui-bar-b" style="width:30%;" ><button data-mini='true' data-inline='true'>a</button>
						<button data-mini='true' data-inline='true'>b</button>
					</div>
					<div class="ui-block-b ui-bar-c" style="width:10%;" >3</div>
					<div class="ui-block-b ui-bar-d" style="width:10%;" >4</div>
					<div class="ui-block-b ui-bar-e" style="width:30%;" >5</div>
				</div>
				
			</div><!-- /content -->
			
			<div data-role='footer' data-position="fixed">
				<h1>&copy; 2011-12 goorume</h1>
			</div><!-- /footer -->
		</div>
			
	</body>
</html>