<!DOCTYPE html>
<html lang="ko">
	<head>
		
		<meta charset="utf-8" />

		<title>phonegap jqm basic sample 0</title>
		
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
		
		<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
		
		<script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
		
	</head>
<!-- HTML 태그들은 여기에... -->
	<body>
		<div data-role='page' >
			<div data-role='header'>
				<h1> 안녕하세요 </h1>
			</div>
			<div data-role='content'>
				<div class='ui-grid-solo' style='text-align: center' >
					<div class='ui-block-a ui-bar-e' > <p>sole</p> </div>
					<div class='ui-block-a ui-bar-e' > 
						<button data-inline='true' >hello</button> 
						<button data-inline='true' >hello</button> 
					</div>
					<div class='ui-block-a ui-bar-e' > 
						<button data-inline='true' >hello</button> 
					</div>
				</div>
				
				<div class='ui-grid-a ui-bar-b' >
					
					<div class="ui-block-a ui-bar-a "  >
						<h3>block-a</h3> </div>
					<div class="ui-block-b ui-bar-b "  >
						<h3>block-b</h3> </div>
					<div class="ui-block-a ui-bar-a " style="width:20%" >
						<h3>block-a</h3> </div>
					<div class="ui-block-b ui-bar-b " style="width:20%" >
						<h3>block-b</h3> </div>
					<div class="ui-block-a ui-bar-a " style="width:20%" >
						<h3>block-a</h3> </div>
					<div class="ui-block-b ui-bar-b " style="width:20%" >
						<h3>block-b</h3> </div>
						
					
					<div class="ui-block-a ui-bar-c " style="width:20%" >
						<h3>block-a</h3> </div>
					<div class="ui-block-b ui-bar-a" style="width:10%" > 
						block-b</div>
					
					<div class="ui-block-b" >block-b1 </div>
					<div class="ui-block-a" >block-a1 </div>
					<div class="ui-block-a"  >block-a2 </div>
				</div>
				
				
				
			</div>
			<div data-role='footer' data-position='fixed'>
				<h1> 정보영상진흥원 </h1>
			</div>
		</div>
	</body>
</html>
